div.main-heading.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heading p:first-child {
    color: var(--gray-color);
    font-size: 12px;
    margin: 10px auto;
    text-align: center;
}

.main-heading p:last-child {
    color: var(--main-color);
    font-size: 20px;
    text-align: center;
}